/* common style  */
* {
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", sans-serif;
}

.btn {
    width: 160px;
    height: 64px;
    border-radius: 5px;
    background: #FFF;
    border: none;
    color: #005FAC;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.main {
    max-width: 1150px;
    margin: auto;
}

/* banner section  */
.banner {
    background-image: url('../images/banner/banner3.png');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 110px;
}

.banner_content {
    width: 525px;
    margin-right: 230px;
    text-align: right;
}

.banner_content h1 {
    color: #FFF;
    text-align: right;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.banner_content p {
    color: #FFF;
    text-align: right;
    margin: 24px 0px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

/* main section about me  */

.about_me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.about_me_content {
    margin-top: 140px;
}

.about_me_content h3 {
    color: var(--Dark-01, #151414);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}

.about_me_content p {
    color: var(--Dark-02, #444343);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 20px;
}

.ul {
    margin-left: 15px;
}

.ul li {
    color: var(--Dark-02, #444343);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

/* my plan section  */
.my_plan {
    margin-top: 110px;
}

.my_plan h3 {
    color: var(--Dark-01, #151414);
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 50px;
}
.my_plan_img{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 135px;
    text-align: center;
}