/* common style  */
* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

img {
    width: 100%;
}

h2 {
    color: #0E0E0E;
    font-size: 40px;
    font-weight: 700;
}

h1 {
    color: #0E0E0E;
    font-size: 50px;
    font-weight: 700;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.btn {
    padding: 15px 25px;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 8px;
    background: #006A50;
    border: none;
}

/* navbar style  */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0px;
    margin-bottom: 20px;
}

.nav h3 {
    color: #0E0E0E;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.s_btn {
    padding: 15px 30px;
    border-radius: 8px;
    border: 1px solid #006A50;
    color: #006A50;
    background-color: white;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* banner section  */
.banner {
    border-radius: 24px;
    background: #C6E4D6;
    padding: 80px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.banner p {
    color: rgba(14, 14, 14, 0.50);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.banner h1{
    padding: 15px 0 25px 0;
}